.timelineWrapper {
  position: relative;
}

.timelineWrapper .timelineImage {
  display: block;
}

.timelineWrapper .progressBar {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
}

.timelineWrapper .rangeControl {
  width: 100%;
}

.timelineWrapper .rangeControl.hidden {
  display: none;
}
